plantweb
docutils>=0.13.1
sphinx>=1.3
hg+https://bitbucket.org/gldnspud/sphinx-contrib#egg=sphinxcontrib-exceltable&subdirectory=exceltable
sphinx-rtd-theme

git+https://github.com/metrasynth/radiant-voices#egg=radiant-voices
git+https://github.com/metrasynth/sunvox-dll-python#egg=sunvox-dll-python

-e .
